*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62%;
}

body {
  font-size: 20px;
  padding: 0.1;
  background-image: url('/fondo-azul-degradado-lujo-abstracto-azul-oscuro-liso-banner-estudio-vineta-negra.jpg') ;
  background-position: center;
  background-size: cover;
  cursor: grab;
}


#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10rem 0;
}

.card {
  background-color: rgb(9, 10, 12);
  width: 550px;
  height: 1000px;
  border-radius: 90px 90px 68px 80px ;

}

.card:hover {
  color: rgb(252, 252, 252);
  transition: 3s;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transform: translateY(28px);
  background-position: center;
  background-repeat: no-repeat;
}
.card:hover .img_cont img {
  filter: brightness(110%);
  transition: 3s;
  transform: 0.0s;
  
}

.img_cont img {
  filter: opacity(0.0); 
  transition: filter 0.3s;
}

.title {
  background-color: none;
  text-align: center;
  padding: 5rem;
  font-size: 60px;
  font-weight: bold;
}

.text-container {
  text-align: center;
  display: flex;
  justify-content: space-around;
  box-sizing: initial;
}

.img_cont {
  width: 50%;
}

.description{
  list-style: none;
  width: 60%;
  align-items:flex-end;
}

.button-color-C°-f°{
  margin-top: 4rem;
  padding: 1rem;
  border-radius: 4rem;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
}
